/* ==================== Responsive Desing ==================== */
/* =========== Responsive 930PX =========== */
@media (max-width: 930px) {
    .top_bar {
        width: 100%;
    }

    .menu_icon {
        display: block;
        width:30px;
    }

    .header_bar .nav_bar {
        display: block;
        position: absolute;
        top: 5rem;
        right: -100%;
        width: 20rem;
        height: 40vh;
        background-color:white;
        border-radius: 5px;
        box-shadow: 0 10px 5px 5px rgba(128, 128, 128, 0.185);
    }

    .header_bar .nav_bar.nav {
        right: 0;
    }

    .header_bar .nav_bar ul {
        padding-top: 1rem;
        flex-direction: column;
    }

    .nav_bar ul li:nth-child(4) {
        padding-left: 2rem;
    }

    .header_bar .search_bar {
        width: 50%;
    }

    .section_one {
        flex-direction: column-reverse;
    }

    .section_one .box_there {
        text-align: center;
        align-items: center;
        position: relative;
        right: 27%;
        margin-top: 3rem;
        gap: 30px;
        width: 90%;
    }


    .section_one .card {
        width: 60vw;
        margin-right: 10rem;
    }

    .box_two .card {
        position: absolute;
        top: 0.5rem;
        left: -10rem;
        width: 60vw;
        height: 12rem;
     }
 
    .online_bar {
        margin-top: 20rem;
    }

    .online_box {
        flex-direction: column;
    }

    .learn_coder {
        margin-top: 20rem;
    }

    .learn_coder .learn_bar {
        flex-wrap: wrap;
    }
    


}

/* =========== Responsive 769PX =========== */

@media (max-width: 769px) {
    .top_bar p {
        width: 40vh;
    }

    .header_bar .search_bar {
        width: 50%;
    }

    .home_bar .logo_one {
        gap: 0;
    }

   
    .section_one .card {
        width: 60vw;
        margin-right: 10rem;
    }

    .box_two .card {
        position: absolute;
        top: 0.5rem;
        left: -13rem;
        width: 60vw;
        height: 12rem;
     }
 
     .box_gap {
        margin-top: 3rem;
     }

     .section_one .box_there {
        margin-right: 4rem;
     }

     .online_box .image img {
        width: 60vw;
    }

      .learn_coder .learn_bar .box_learn {
        width: 100%;
    }
    


}

/* =========== Responsive 500PX =========== */
@media (max-width: 500px) {
    .top_bar {
        padding: 1rem;
        width: 100vw;
    }

    .top_bar p {
        font-size: 0.5rem;
    }

    .top_bar .top_btn {
        width: 10rem;
        height: 2rem;
        font-size: 8px;
        font-weight: bold;
    }

    .header {
        width: 100vw;
    }

    .header_bar .logo img {
        width: 30px;
    }

    .header_bar .logo h3 {
        font-size: 0.7rem;
        padding-left: 5px;
    }

    .header_bar .search_bar {
        width: 40%;
        height: 2.5rem;
    }

    .home .home_bar .text_bar {
        padding-left: 2rem;
        width: 100%;
        text-align: center;
    }

    .section_one .box_there {
        margin-right: 8rem;
    }

    .logo_pro img {
        display: none;
    }

    .section_one .card {
        position: relative;
        right: 6rem;
    }

    .box_there {
        padding-right: 60px;
    }

    .box_there p {
        width: 130%;
    }

    .section_one .card {
        width: 80vw;
        margin-left: 1.5rem
    }

    .box_two .card {
        position: absolute;
        top: 0.5rem;
        left: -20.2rem;
        width: 80vw;
        height: 12rem;
     }

     .online_bar {
        margin-top: 10rem;
     }

     .online_bar .box_gap {
        flex-wrap: wrap;
     }

     .online_bar .online_box .image img {
        width: 70vw;
     }

     .online_bar .online_box .box_gap .box_bar .box_img {
        width: 100%;
     }
   .box_gap .box_bar {

        width: 80vw;
     }

     .challenge  {
        text-align: center;
     }
 
    .challenge  .challenge_bar .free_box {
        width: 100%;
     }

}

/* ============ Responsive 381px ============ */
@media (max-width: 381px) {
    .home .home_bar .logo_pro h3 {
        font-size: 1rem;
    }

    .home .home_bar .text_bar h1 {
        font-size: 1.5rem;
    }

    .home .home_bar .text_bar p {
        font-size: 1rem;
        width: 120%;
        position: relative;
        right: 4rem;
        line-height: 25px;
    }

    .home .home_bar .logo_pro button {
        padding: 1rem 1rem;
        font-size: 0.6rem;
    }

    .box_one .card {
        margin-left: 1.5rem;

    }

    .section_one .box_there {
        margin-right: 163px;
        width: 100%;
    }

    .section_one .card {
        width: 70vw;
        margin-left: 3rem
    }

    .box_two .card {
        position: absolute;
        top: 0.5rem;
        left: -22rem;
        width: 70vw;
        height: 12rem;
     }

    .online_bar .box_gap {
        flex-direction: column;
    }

    .learn_coder {
        text-align: center;
    }

    .learn_coder .learn_bar {
        margin-right: -15rem;
    }

    .learn_coder .learn_bar .box_learn {
        width: 70vw;
    }

}